<h1>Animal News</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title.capitalize, article_path(article)%>
    </li>
  <% end %>
</ul>

<%= link_to '  Add an Article  ', new_article_path, class: "button" %>
